body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
}

button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

#resultado {
    margin-top: 30px;
    font-size: 22px;
}
button img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
#placar {
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}
#placar {
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}
